.contenedorPrincipalNB {
    background-color: #001f3f;
    height: 100%;
}

.tituloNavBar {
    margin: 18px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.nombreUsuario {
    margin: 23px;
    color: white;
    font-size: 21px;
    font-weight: bold;
}

#botonCerrarSesion {
    margin: 18px;
    color: white;
    background-color: red;
    font-size: 15px;
    font-weight: bold;
}

#filaNavBar{
    border: 50px solid red;
}