.contenedorPI {
    background-color: #001f3f;
    height: 100%;
    color: white;
    text-align: center;
}

.tituloPI {
    font-size: 80px;
    font-weight: 700;

    @media (max-width: 120px) {
        font-size: 90px;
    }
}

.colTitulo{
    margin-bottom: 40px;
}
.colBotonesIniciarRegistrar {
    margin-bottom: 60px;
}

.colCards{
    margin-bottom: 9px;
}

#btnIniciarSesion {
    margin-right: 40px;
}

#btnRegistrar{
    margin-left: 60px;
}